## Regression

#### 1) linear regression
#### 2) ridge regression
#### 3) lasso regression

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
data_set=pd.read_csv('House_Price.csv')

In [3]:
data_set.head(20)

,price,crime_rate,resid_area,air_qual,room_num,age,dist1,dist2,dist3,dist4,teachers,poor_prop,airport,n_hos_beds,n_hot_rooms,waterbody,rainfall,bus_ter,parks
0,24.0,0.00632,32.31,0.538,6.575,65.2,4.35,3.81,4.18,4.01,24.7,4.98,YES,5.480,11.1920,River,23,YES,0.049347
1,21.6,0.02731,37.07,0.469,6.421,78.9,4.99,4.70,5.12,5.06,22.2,9.14,NO,7.332,12.1728,Lake,42,YES,0.046146
2,34.7,0.02729,37.07,0.469,7.185,61.1,5.03,4.86,5.01,4.97,22.2,4.03,NO,7.394,101.1200,None,38,YES,0.045764
3,33.4,0.03237,32.18,0.458,6.998,45.8,6.21,5.93,6.16,5.96,21.3,2.94,YES,9.268,11.2672,Lake,45,YES,0.047151
4,36.2,0.06905,32.18,0.458,7.147,54.2,6.16,5.86,6.37,5.86,21.3,5.33,NO,8.824,11.2896,Lake,55,YES,0.039474
5,28.7,0.02985,32.18,0.458,6.430,58.7,6.22,5.80,6.23,5.99,21.3,5.21,YES,7.174,14.2296,None,53,YES,0.045910
6,22.9,0.08829,37.87,0.524,6.012,66.6,5.87,5.47,5.70,5.20,24.8,12.43,YES,6.958,12.1832,River,41,YES,0.052170
7,22.1,0.14455,37.87,0.524,6.172,96.1,6.04,5.85,6.25,5.66,24.8,19.15,NO,5.842,12.1768,Lake,56,YES,0.057075
8,16.5,0.21124,37.87,0.524,5.631,100.0,6.18,5.85,6.30,6.00,24.8,29.93,YES,5.930,12.1320,None,55,YES,0.056302
9,18.9,0.17004,37.87,0.524,6.004,85.9,6.67,6.55,6.85,6.29,24.8,17.10,YES,9.478,14.1512,River,45,YES,0.050727
10,15.0,0.22489,37.87,0.524,6.377,94.3,6.65,6.31,6.55,5.88,24.8,20.45,NO,6.000,11.1200,Lake,29,YES,0.057775
11,18.9,0.11747,37.87,0.524,6.009,82.9,6.27,5.93,6.51,6.19,24.8,13.27,NO,9.278,13.1512,Lake and River,23,YES,0.055237
12,21.7,0.09378,37.87,0.524,5.889,39.0,5.76,5.14,5.58,5.33,24.8,15.71,YES,5.534,10.1736,Lake and River,57,YES,0.057423
13,20.4,0.62976,38.14,0.538,5.949,61.8,4.72,4.59,4.93,4.59,19.0,8.26,YES,5.908,14.1632,None,39,YES,0.053464
14,18.2,0.63796,38.14,0.538,6.096,84.5,4.60,4.20,4.48,4.58,19.0,10.26,NO,6.964,13.1456,None,49,YES,0.059882
15,19.9,0.62739,38.14,0.538,5.834,56.5,4.60,4.35,4.72,4.32,19.0,8.47,YES,8.498,14.1592,River,28,YES,0.059751
16,23.1,1.05393,38.14,0.538,5.935,29.3,4.66,4.39,4.52,4.43,19.0,6.58,NO,5.462,10.1848,None,46,YES,0.054699
17,17.5,0.78420,38.14,0.538,5.990,81.7,4.56,4.15,4.36,3.97,19.0,14.67,NO,5.450,11.1400,Lake,56,YES,0.054785
18,20.2,0.80271,38.14,0.538,5.456,36.6,3.80,3.52,3.86,4.00,19.0,11.69,YES,8.504,12.1616,Lake and River,41,YES,0.054251
19,18.2,0.72580,38.14,0.538,5.727,69.5,3.98,3.65,4.00,3.57,19.0,11.28,NO,8.564,12.1456,Lake and River,27,YES,0.057770

In [4]:
data_set.isnull().sum()

price          0
crime_rate     0
resid_area     0
air_qual       0
room_num       0
age            0
dist1          0
dist2          0
dist3          0
dist4          0
teachers       0
poor_prop      0
airport        0
n_hos_beds     8
n_hot_rooms    0
waterbody      0
rainfall       0
bus_ter        0
parks          0
dtype: int64

In [5]:
median=data_set['n_hos_beds'].median()

In [6]:
data_set['n_hos_beds']=data_set['n_hos_beds'].fillna(median)

In [7]:
data_set['n_hos_beds'].isnull().sum()

0

In [8]:
data_set['airport']=np.where(data_set['airport']=='YES', 1,0)

In [9]:
df2=pd.get_dummies(data_set['waterbody'],drop_first=True)

In [10]:
df2.head()

   Lake and River  None  River
0               0     0      1
1               0     0      0
2               0     1      0
3               0     0      0
4               0     0      0

In [11]:
data_set = pd.concat([data_set,df2],axis=1)

In [128]:
data_set.head()

,price,crime_rate,resid_area,air_qual,room_num,age,dist1,dist2,dist3,dist4,teachers,poor_prop,airport,n_hos_beds,n_hot_rooms,rainfall,parks,Lake and River,None,River
0,24.0,0.00632,32.31,0.538,6.575,65.2,4.35,3.81,4.18,4.01,24.7,4.98,1,5.480,11.1920,23,0.049347,0,0,1
1,21.6,0.02731,37.07,0.469,6.421,78.9,4.99,4.70,5.12,5.06,22.2,9.14,0,7.332,12.1728,42,0.046146,0,0,0
2,34.7,0.02729,37.07,0.469,7.185,61.1,5.03,4.86,5.01,4.97,22.2,4.03,0,7.394,101.1200,38,0.045764,0,1,0
3,33.4,0.03237,32.18,0.458,6.998,45.8,6.21,5.93,6.16,5.96,21.3,2.94,1,9.268,11.2672,45,0.047151,0,0,0
4,36.2,0.06905,32.18,0.458,7.147,54.2,6.16,5.86,6.37,5.86,21.3,5.33,0,8.824,11.2896,55,0.039474,0,0,0

In [13]:
data_set=data_set.drop(columns='waterbody',axis=1)

In [14]:
data_set['bus_ter'].unique()

array(['YES'], dtype=object)

In [15]:
data_set=data_set.drop(columns='bus_ter',axis=1)

In [16]:
data_set.corr()

,price,crime_rate,resid_area,air_qual,room_num,age,dist1,dist2,dist3,dist4,teachers,poor_prop,airport,n_hos_beds,n_hot_rooms,rainfall,parks,Lake and River,None,River
price,1.000000,-0.389582,-0.484754,-0.429300,0.696304,-0.377999,0.251355,0.249459,0.246650,0.248200,0.505655,-0.740836,0.182867,0.108513,0.023122,-0.047426,-0.391574,-0.037497,-0.077478,0.071751
crime_rate,-0.389582,1.000000,0.406583,0.420972,-0.219247,0.352734,-0.380050,-0.379813,-0.380069,-0.376462,-0.289946,0.455621,-0.086805,0.017561,0.013518,0.059204,0.383235,-0.018150,0.066796,-0.037123
resid_area,-0.484754,0.406583,1.000000,0.763651,-0.391676,0.644779,-0.706481,-0.707956,-0.707566,-0.705819,-0.383248,0.603800,-0.115401,0.005898,-0.000839,0.055810,0.707635,0.051649,0.086958,-0.098976
air_qual,-0.429300,0.420972,0.763651,1.000000,-0.302188,0.731470,-0.768589,-0.769724,-0.769157,-0.764873,-0.188933,0.590879,-0.073903,-0.049075,-0.004882,0.092104,0.915544,0.013849,0.068554,-0.037772
room_num,0.696304,-0.219247,-0.391676,-0.302188,1.000000,-0.240265,0.208464,0.203981,0.201907,0.205397,0.355501,-0.613808,0.163774,0.031744,0.030674,-0.064694,-0.282817,0.010554,-0.052579,0.046251
age,-0.377999,0.352734,0.644779,0.731470,-0.240265,1.000000,-0.746904,-0.746493,-0.747021,-0.746707,-0.261515,0.602339,0.005101,-0.020748,0.009380,0.075198,0.673850,-0.004354,0.092693,-0.088609
dist1,0.251355,-0.380050,-0.706481,-0.768589,0.208464,-0.746904,1.000000,0.997905,0.997735,0.994073,0.232834,-0.498823,0.025208,-0.030783,-0.014463,-0.036794,-0.706319,-0.023236,-0.044592,0.030763
dist2,0.249459,-0.379813,-0.707956,-0.769724,0.203981,-0.746493,0.997905,1.000000,0.998097,0.994003,0.233707,-0.495693,0.020056,-0.031488,-0.010239,-0.038005,-0.708237,-0.024103,-0.046974,0.030566
dist3,0.246650,-0.380069,-0.707566,-0.769157,0.201907,-0.747021,0.997735,0.998097,1.000000,0.994126,0.233588,-0.494290,0.020195,-0.028715,-0.010077,-0.041470,-0.709346,-0.023102,-0.046268,0.033634
dist4,0.248200,-0.376462,-0.705819,-0.764873,0.205397,-0.746707,0.994073,0.994003,0.994126,1.000000,0.228256,-0.496084,0.020022,-0.021899,-0.005850,-0.032542,-0.703508,-0.014671,-0.051274,0.033829
teachers,0.505655,-0.289946,-0.383248,-0.188933,0.355501,-0.261515,0.232834,0.233707,0.233588,0.228256,1.000000,-0.374044,0.069437,-0.007954,-0.023343,-0.045836,-0.187004,-0.046981,-0.104450,0.094256
poor_prop,-0.740836,0.455621,0.603800,0.590879,-0.613808,0.602339,-0.498823,-0.495693,-0.494290,-0.496084,-0.374044,1.000000,-0.095054,-0.065501,0.003337,0.061581,0.552310,0.020620,0.095352,-0.109004
airport,0.182867,-0.086805,-0.115401,-0.073903,0.163774,0.005101,0.025208,0.020056,0.020195,0.020022,0.069437,-0.095054,1.000000,-0.005937,-0.066012,-0.013581,-0.052503,-0.070341,0.004617,0.017341
n_hos_beds,0.108513,0.017561,0.005898,-0.049075,0.031744,-0.020748,-0.030783,-0.031488,-0.028715,-0.021899,-0.007954,-0.065501,-0.005937,1.000000,-0.005534,0.057967,-0.070690,0.059047,-0.004344,-0.073558
n_hot_rooms,0.023122,0.013518,-0.000839,-0.004882,0.030674,0.009380,-0.014463,-0.010239,-0.010077,-0.005850,-0.023343,0.003337,-0.066012,-0.005534,1.000000,-0.004840,0.006262,-0.006133,0.034407,-0.058431
rainfall,-0.047426,0.059204,0.055810,0.092104,-0.064694,0.075198,-0.036794,-0.038005,-0.041470,-0.032542,-0.045836,0.061581,-0.013581,0.057967,-0.004840,1.000000,0.078641,0.109281,-0.030584,-0.036611
parks,-0.391574,0.383235,0.707635,0.915544,-0.282817,0.673850,-0.706319,-0.708237,-0.709346,-0.703508,-0.187004,0.552310,-0.052503,-0.070690,0.006262,0.078641,1.000000,0.013265,0.070817,-0.048862
Lake and River,-0.037497,-0.018150,0.051649,0.013849,0.010554,-0.004354,-0.023236,-0.024103,-0.023102,-0.014671,-0.046981,0.020620,-0.070341,0.059047,-0.006133,0.109281,0.013265,1.000000,-0.268471,-0.304095
None,-0.077478,0.066796,0.086958,0.068554,-0.052579,0.092693,-0.044592,-0.046974,-0.046268,-0.051274,-0.104450,0.095352,0.004617,-0.004344,0.034407,-0.030584,0.070817,-0.268471,1.000000,-0.500192
River,0.071751,-0.037123,-0.098976,-0.037772,0.046251,-0.088609,0.030763,0.030566,0.033634,0.033829,0.094256,-0.109004,0.017341,-0.073558,-0.058431,-0.036611,-0.048862,-0.304095,-0.500192,1.000000

In [134]:
y=data_set.iloc[:,0].values

In [135]:
x=data_set.iloc[:,1:].values

In [20]:
from sklearn.model_selection import train_test_split
from sklearn import linear_model

In [137]:
X_train, X_test, Y_train, Y_test=train_test_split(x,y,test_size=0.2,random_state=0)

In [139]:
X_train

array([[ 0.35809, 36.2    ,  0.507  , ...,  0.     ,  0.     ,  1.     ],
       [ 0.15876, 40.81   ,  0.413  , ...,  1.     ,  0.     ,  0.     ],
       [ 0.11329, 34.93   ,  0.428  , ...,  0.     ,  1.     ,  0.     ],
       ...,
       [ 0.15098, 40.01   ,  0.547  , ...,  1.     ,  0.     ,  0.     ],
       [ 0.22927, 36.91   ,  0.448  , ...,  0.     ,  0.     ,  1.     ],
       [ 0.13914, 34.05   ,  0.51   , ...,  0.     ,  0.     ,  1.     ]])

In [23]:
X_train.isnull().sum()

crime_rate        0
resid_area        0
air_qual          0
room_num          0
age               0
dist1             0
dist2             0
dist3             0
dist4             0
teachers          0
poor_prop         0
airport           0
n_hos_beds        0
n_hot_rooms       0
rainfall          0
parks             0
Lake and River    0
None              0
River             0
dtype: int64

In [24]:
linear=linear_model.LinearRegression()

In [140]:
linear.fit(X_train,Y_train)

LinearRegression()

In [141]:
linear.score(X_train,Y_train)

0.761635842898581

In [142]:
predicted=linear.predict(X_test)

In [28]:
from sklearn.metrics import mean_squared_error

In [143]:
mean_squared_error(predicted,Y_test)

35.99625224869817

In [30]:
from sklearn.linear_model import Ridge

In [31]:
clf = Ridge(alpha=0.1)

In [144]:
clf.fit(X_train,Y_train)

Ridge(alpha=0.1)

In [145]:
clf.score(X_train,Y_train)

0.7605668274461266

In [146]:
predicted2=clf.predict(X_test)

In [147]:
mean_squared_error(predicted2,Y_test)

35.84626445974917

In [36]:
from sklearn import linear_model
clf2 = linear_model.Lasso(alpha=0.1)

In [148]:
clf2.fit(X_train,Y_train)

Lasso(alpha=0.1)

In [149]:
predicted3=clf.predict(X_test)

In [150]:
mean_squared_error(predicted3,Y_test)

35.84626445974917

In [151]:
clf2.score(X_train,Y_train)

0.7500691718208539

In [46]:
from sklearn.ensemble import RandomForestRegressor
model=RandomForestRegressor()

In [152]:
model.fit(X_train,Y_train)

RandomForestRegressor()

In [153]:
model.score(X_train,Y_train)

0.9816026833040707

In [154]:
predicted4=model.predict(X_test)

In [155]:
mean_squared_error(predicted4,Y_test)

18.768015578431378

## classification

In [192]:
df=pd.read_csv('Movie_classification.csv')

In [193]:
df.head()

,Marketing expense,Production expense,Multiplex coverage,Budget,Movie_length,Lead_ Actor_Rating,Lead_Actress_rating,Director_rating,Producer_rating,Critic_rating,Trailer_views,3D_available,Time_taken,Twitter_hastags,Genre,Avg_age_actors,Num_multiplex,Collection,Start_Tech_Oscar
0,20.1264,59.62,0.462,36524.125,138.7,7.825,8.095,7.910,7.995,7.94,527367,YES,109.60,223.840,Thriller,23,494,48000,1
1,20.5462,69.14,0.531,35668.655,152.4,7.505,7.650,7.440,7.470,7.44,494055,NO,146.64,243.456,Drama,42,462,43200,0
2,20.5458,69.14,0.531,39912.675,134.6,7.485,7.570,7.495,7.515,7.44,547051,NO,147.88,2022.400,Comedy,38,458,69400,1
3,20.6474,59.36,0.542,38873.890,119.3,6.895,7.035,6.920,7.020,8.26,516279,YES,185.36,225.344,Drama,45,472,66800,1
4,21.3810,59.36,0.542,39701.585,127.7,6.920,7.070,6.815,7.070,8.26,531448,NO,176.48,225.792,Drama,55,395,72400,1

In [194]:
df.isnull().sum()

Marketing expense       0
Production expense      0
Multiplex coverage      0
Budget                  0
Movie_length            0
Lead_ Actor_Rating      0
Lead_Actress_rating     0
Director_rating         0
Producer_rating         0
Critic_rating           0
Trailer_views           0
3D_available            0
Time_taken             12
Twitter_hastags         0
Genre                   0
Avg_age_actors          0
Num_multiplex           0
Collection              0
Start_Tech_Oscar        0
dtype: int64

In [195]:
median=df['Time_taken'].median()
df['Time_taken']=df['Time_taken'].fillna(median)

In [196]:
df['Time_taken'].isnull().sum()

0

In [197]:
df_gen=pd.get_dummies(df['Genre'],drop_first=True)

In [198]:
x=df.iloc[:,:-1]
y=df.iloc[:,-1]

In [199]:
df=(x.drop(columns='Genre',axis=1))

In [200]:
df=pd.concat([df,df_gen,y],axis=1)

In [201]:
df.head()

,Marketing expense,Production expense,Multiplex coverage,Budget,Movie_length,Lead_ Actor_Rating,Lead_Actress_rating,Director_rating,Producer_rating,Critic_rating,...,3D_available,Time_taken,Twitter_hastags,Avg_age_actors,Num_multiplex,Collection,Comedy,Drama,Thriller,Start_Tech_Oscar
0,20.1264,59.62,0.462,36524.125,138.7,7.825,8.095,7.910,7.995,7.94,...,YES,109.60,223.840,23,494,48000,0,0,1,1
1,20.5462,69.14,0.531,35668.655,152.4,7.505,7.650,7.440,7.470,7.44,...,NO,146.64,243.456,42,462,43200,0,1,0,0
2,20.5458,69.14,0.531,39912.675,134.6,7.485,7.570,7.495,7.515,7.44,...,NO,147.88,2022.400,38,458,69400,1,0,0,1
3,20.6474,59.36,0.542,38873.890,119.3,6.895,7.035,6.920,7.020,8.26,...,YES,185.36,225.344,45,472,66800,0,1,0,1
4,21.3810,59.36,0.542,39701.585,127.7,6.920,7.070,6.815,7.070,8.26,...,NO,176.48,225.792,55,395,72400,0,1,0,1

In [202]:
df['3D_available']=np.where(df['3D_available']=='YES',1,0)

In [203]:
df.head()

,Marketing expense,Production expense,Multiplex coverage,Budget,Movie_length,Lead_ Actor_Rating,Lead_Actress_rating,Director_rating,Producer_rating,Critic_rating,...,3D_available,Time_taken,Twitter_hastags,Avg_age_actors,Num_multiplex,Collection,Comedy,Drama,Thriller,Start_Tech_Oscar
0,20.1264,59.62,0.462,36524.125,138.7,7.825,8.095,7.910,7.995,7.94,...,1,109.60,223.840,23,494,48000,0,0,1,1
1,20.5462,69.14,0.531,35668.655,152.4,7.505,7.650,7.440,7.470,7.44,...,0,146.64,243.456,42,462,43200,0,1,0,0
2,20.5458,69.14,0.531,39912.675,134.6,7.485,7.570,7.495,7.515,7.44,...,0,147.88,2022.400,38,458,69400,1,0,0,1
3,20.6474,59.36,0.542,38873.890,119.3,6.895,7.035,6.920,7.020,8.26,...,1,185.36,225.344,45,472,66800,0,1,0,1
4,21.3810,59.36,0.542,39701.585,127.7,6.920,7.070,6.815,7.070,8.26,...,0,176.48,225.792,55,395,72400,0,1,0,1

In [204]:
X=df.iloc[:,:-1].values
Y=df.iloc[:,-1].values

In [205]:
X

array([[20.1264, 59.62  ,  0.462 , ...,  0.    ,  0.    ,  1.    ],
       [20.5462, 69.14  ,  0.531 , ...,  0.    ,  1.    ,  0.    ],
       [20.5458, 69.14  ,  0.531 , ...,  1.    ,  0.    ,  0.    ],
       ...,
       [21.2152, 78.86  ,  0.427 , ...,  1.    ,  0.    ,  0.    ],
       [22.1918, 78.86  ,  0.427 , ...,  1.    ,  0.    ,  0.    ],
       [20.9482, 78.86  ,  0.427 , ...,  1.    ,  0.    ,  0.    ]])

In [206]:
X_train, X_test, Y_train, Y_test=train_test_split(X,Y,test_size=0.2,random_state=0)

In [207]:
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeRegressor 
from sklearn.metrics import accuracy_score,classification_report,r2_score
model=DecisionTreeRegressor()
model=RandomForestClassifier()

In [210]:
def classifier(alg,X_train, X_test, Y_train, Y_test):
    model=alg
    model.fit(X_train,Y_train)
    model.score(X_train,Y_train)
    predicted=model.predict(X_test)
    print(accuracy_score(predicted,Y_test))
    print(classification_report(predicted,Y_test))
    print(r2_score(predicted,Y_test))

In [211]:
classifier(LogisticRegression(),X_train, X_test, Y_train, Y_test)

C:\Users\harish\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

0.6372549019607843
              precision    recall  f1-score   support

           0       0.70      0.56      0.63        55
           1       0.59      0.72      0.65        47

    accuracy                           0.64       102
   macro avg       0.65      0.64      0.64       102
weighted avg       0.65      0.64      0.64       102

-0.4599613152804647

In [212]:
classifier(RandomForestClassifier(),X_train, X_test, Y_train, Y_test)

0.6372549019607843
              precision    recall  f1-score   support

           0       0.57      0.58      0.57        43
           1       0.69      0.68      0.68        59

    accuracy                           0.64       102
   macro avg       0.63      0.63      0.63       102
weighted avg       0.64      0.64      0.64       102

-0.48758376034686624

In [213]:
classifier(KNeighborsClassifier(),X_train, X_test, Y_train, Y_test)

0.5490196078431373
              precision    recall  f1-score   support

           0       0.52      0.48      0.50        48
           1       0.57      0.61      0.59        54

    accuracy                           0.55       102
   macro avg       0.55      0.55      0.54       102
weighted avg       0.55      0.55      0.55       102

-0.8101851851851856